<form [formGroup]="leadForm" (ngSubmit)="submitLead()" class="lead-form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Zip Code</mat-label>
    <input matInput formControlName="zipCode" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-checkbox formControlName="consentToContact">Consent to Contact</mat-checkbox>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
